<div class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li>Đăng nhập &amp; Đăng ký</li>
            </ul>
        </div>
    </div>
    <div class="ps-my-account">
        <div class="container">
            <form class="ps-form--account">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#sign-in" class="nav-link active" data-toggle="tab" style="color: black;">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="#sign-up" class="nav-link" data-toggle="tab" style="color: black;">Đăng ký</a>
                    </li>
                </ul>
                <div class="ps-tabs">
                    <div class="ps-tab active" id="sign-in">
                        <div class="ps-form__content">
                            <h5>Đăng nhập tài khoản của bạn</h5>
                            <div class="login-container">
                                <form class="form" [formGroup]="loginForm" (ngSubmit)="sign_in()">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input formControlName="email" id="email" class="form-control" type="text"
                                            placeholder="Enter your email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mật khẩu</label>
                                        <input formControlName="password" id="password" class="form-control"
                                            type="password" [type]="show ? 'text' : 'password'"
                                            placeholder="Enter your password">
                                        <a><app-forgot-password></app-forgot-password></a>
                                    </div>
                                    <div class="form-group">
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" (click)="toggle()"
                                                id="show-password" name="show-password" />
                                            <label for="show-password">Hiện mật khẩu</label>
                                        </div>
                                    </div>
                                    <div class="form-group submit">
                                        <button type="submit" class="ps-btn ps-btn--fullwidth">Đăng nhập</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="ps-form__footer">
                            <p>Liên hệ:</p>
                            <ul class="ps-list--social">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- sign up -->
                    <div class="ps-tab" id="sign-up">
                        <div class="ps-form__content">
                            <h5>Đăng ký tài khoản</h5>

                            <form class="form" [formGroup]="registerForm" (ngSubmit)="sign_up()">
                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" formControlName="email" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': registerForm.get('email')?.touched && registerForm.get('email')?.invalid}"
                                        placeholder="Nhập email" />
                                    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email không được bỏ
                                            trống.</div>
                                        <div *ngIf="registerForm.get('email')?.errors?.['email']">Email không hợp lệ.
                                        </div>
                                    </div>
                                </div>

                                <!-- OTP -->
                                <div class="form-group">
                                    <label for="otp">Lấy mã OTP</label>
                                    <input id="otp" formControlName="otp" maxlength="6" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': registerForm.get('otp')?.touched && registerForm.get('otp')?.invalid}"
                                        placeholder="Nhập mã OTP" />
                                    <div *ngIf="registerForm.get('otp')?.touched && registerForm.get('otp')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('otp')?.errors?.['required']">Vui lòng nhập mã OTP.
                                        </div>
                                        <div *ngIf="registerForm.get('otp')?.errors?.['minlength']">OTP phải có ít nhất
                                            6 ký tự.</div>
                                    </div>
                                    <a class="btn btn-warning" [ngClass]="{'disabled': isOtpDisabled}"
                                        (click)="!isOtpDisabled && registerForm.get('email')?.valid ? sendOtp() : sendError()"
                                        style="font-size: 14px;">
                                        <span *ngIf="otpCountdown <= 0">Lấy mã OTP bằng email</span>
                                        <span *ngIf="otpCountdown > 0">Chờ {{otpCountdown}}s</span>
                                    </a>
                                </div>

                                <!-- Tên -->
                                <div class="form-group">
                                    <label for="name">Tên</label>
                                    <input id="name" formControlName="name" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': registerForm.get('name')?.touched && registerForm.get('name')?.invalid}"
                                        placeholder="Tên" />
                                    <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('name')?.errors?.['required']">Tên không được để
                                            trống.</div>
                                        <div *ngIf="registerForm.get('name')?.errors?.['minlength']">Tên phải có ít nhất
                                            6 ký tự.</div>
                                    </div>
                                </div>

                                <!-- Mật khẩu -->
                                <div class="form-group">
                                    <label for="pass">Mật khẩu</label>
                                    <input id="pass" [type]="show ? 'text' : 'password'" formControlName="password"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': registerForm.get('password')?.touched && registerForm.get('password')?.invalid}"
                                        placeholder="Mật khẩu" />
                                    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('password')?.errors?.['required']">Mật khẩu không
                                            được để trống.</div>
                                        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Mật khẩu phải
                                            từ 8 ký tự trở lên.</div>
                                        <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
                                            Mật khẩu phải có chữ hoa, chữ thường, số và ký tự đặc biệt.
                                        </div>
                                    </div>
                                    <button class="btn btn-warning" style="font-size: 14px;" type="button"
                                        (click)="toggle()">
                                        <span>Hiện mật khẩu</span>
                                    </button>
                                </div>

                                <!-- Xác nhận mật khẩu -->
                                <div class="form-group">
                                    <label for="confirmPassword">Xác nhận mật khẩu</label>
                                    <input id="confirmPassword" [type]="show ? 'text' : 'password'"
                                        formControlName="confirmPassword" class="form-control" [ngClass]="{
        'is-invalid':
          registerForm.get('confirmPassword')?.touched &&
          (registerForm.get('confirmPassword')?.invalid || registerForm.errors?.['passwordMismatch'])
      }" placeholder="Xác nhận mật khẩu" />
                                    <div *ngIf="registerForm.get('confirmPassword')?.touched" class="invalid-feedback">
                                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Vui lòng
                                            nhập lại mật khẩu.</div>
                                        <div *ngIf="registerForm.errors?.['passwordMismatch']">Mật khẩu xác nhận không khớp.
                                        </div>
                                    </div>
                                </div>

                                <!-- Số điện thoại -->
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input id="phone" formControlName="phone" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid}"
                                        placeholder="Số điện thoại" />
                                    <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('phone')?.errors?.['required']">Vui lòng nhập số
                                            điện thoại.</div>
                                        <div *ngIf="registerForm.get('phone')?.errors?.['minlength']">Số điện thoại phải
                                            đủ 10 số.</div>
                                        <div *ngIf="registerForm.get('phone')?.errors?.['pattern']">Số điện thoại không
                                            hợp lệ.</div>
                                    </div>
                                </div>

                                <!-- Địa chỉ -->
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input id="address" formControlName="address" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': registerForm.get('address')?.touched && registerForm.get('address')?.invalid}"
                                        placeholder="Địa chỉ" />
                                    <div *ngIf="registerForm.get('address')?.touched && registerForm.get('address')?.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="registerForm.get('address')?.errors?.['required']">Vui lòng nhập địa
                                            chỉ.</div>
                                    </div>
                                </div>

                                <!-- Nút submit -->
                                <div class="form-group submit">
                                    <button type="submit" class="ps-btn ps-btn--fullwidth">Đăng ký</button>
                                </div>
                            </form>



                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
<!-- <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->